*{margin:0;padding: 0;}
.body1{background-color:  #f0f0f0;}
html{scroll-behavior: smooth;}
#gotop{position: fixed;color: yellow;
bottom: 60px;right: 40px;font-size: 35px;text-align: center;background-color: white;width: 40px;height: 50px;}
.form-control{margin-left: 100px;}
.navbar-nav{height: 60px;}
.navbar1{height: 60px; background-color: #fed700 !important;}
.navbar-nav a.nav{text-decoration: none;}
.icon
{
color: black;
margin-left: 15px;
width: 65px;
height: 60px;
font-size: 25px;
}
.nav
{
font-size: 14px;
font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
text-transform: capitalize;
color: black;
margin-top: -25px;
padding: 5px;
}
.nav1{margin-top: 20px;}
.nav-item:hover{background-color:#f5f5f5;transition: 0.4s}
.hinh
{ 
margin-left: 30px;
background-color: black;
width: 450px;
}
.logo{
width: 150px;
background-size: cover;
position: relative;
height: 60px;
}
.form-inline{position: absolute;left: 110px;}
/* header */
.carousel-inner
{   
    top: -10px;
    box-sizing: border-box;
    left: 20px;
   
}
.carousel{width: 1300px; margin-left: auto;
    margin-right: auto;}
.quangcao
{
 
    margin-left: 60px;
}
.producthot .a1
{   
    margin-left: 60px;
}
.producthot .category{margin-left: 680px;width:100px;}
.producthot .g1{margin-left: 600px;text-transform: capitalize;margin-top: -5px;}
.producthot .c1{    
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    padding: 10px 10px;
}
.producthot a.c1a{ 
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
   
}
.chulon{margin-top: -30px;font-weight: 700;font-size: 18px;}

.chu1 p
{
font-weight: 700;
color: red;
margin-left: 20px;
font-size: 14px;
}
.hinh2 a.click1{text-decoration: none;}
.hinh3 a.click1{text-decoration: none;}
.hinh4 a.click1{text-decoration: none;}

.chu1 span{margin-left: 20px;}
.pr1{margin-top: -180px;}
.pr2{margin-top: -180px;}
.producthot{

    margin-left: 60px;
    width: 1200px;
    height: 50px;
    background-color: white;
    overflow: hidden;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
/* endcarosel */
.tong1{margin-left: 60px;width: 480px;height: 310px;border: 1px solid #fff;}
.content{display: flex;flex-wrap: wrap;}
.hinh3 .h3
{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;height: 180px;
}
.hinh3 .h3a{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 180px;height: 120px;
}

.hinh2 .h2{
    margin-top: 20px;
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;height: 180px;
}
.hinh2 .h2a{
    margin-top: 20px;
    background-color:white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;height: 120px;
}

.hinh4 .h4
{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;height: 180px;}
 .hinh4 .h4a
 {
margin-top: 20px;
display: block;
margin-left: auto;
margin-right: auto;
width: 180px;height: 120px;
}
.tong1{background-color: white; height: 330px;}
.tong2{height: 330px;width: 240px;border: 1px solid#f0f0f0;background-color: white;}
.tong3{height: 330px;width: 240px;border: 1px solid #f0f0f0;background-color: white;}
.tong4{height: 330px;width: 240px;border: 1px solid #f0f0f0;background-color: white;}
.con1 h3{height: 18px;font-size: 14px;margin-bottom: 10px;color: black;}
.con1 strong{color: red;margin-top: 20px;font-weight:600;position: relative;font-size: 14px;}
.con1 p{color: black;font-size: 13px;font-family:  Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;text-transform: capitalize;}
strong{height: 15px;display: block;margin-bottom: 20px;}
p{height: 48px;font-size: 14px;}
.con1{margin-left: 15px;}
.tong2:hover h3{color: #288ad6}
.tong3:hover h3{color: #288ad6}
.tong4:hover h3{color: #288ad6}
.hinh2 img:hover{margin: 5px auto 25px;transition: 0.3s;}
.hinh3 img:hover{margin: 5px auto 25px;transition: 0.3s;}
.hinh4 img:hover{margin: 5px auto 25px;transition: 0.3s;}
.fullproduct2
{
    display: flex;
    flex-wrap: wrap;
}
.kytu{text-align: center;}
.sanpham{width: 180px;height: 180px;margin-top: 40px;}
.slick{width: 240px;height: 300px;}
a.click h3{font-size: 15px;text-transform: capitalize;}
a.click strong{color: red;}
.slick a.click
{font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
color: black;text-decoration: none;}
.slick img:hover{margin: 2px auto 10px;transition: 0.6s}
.slider {
  background-color:white;
    right: 15px;
top: -100px;
    border: 1px solid #f0f0f0;
    height: 300px;
      width:1200px;
      margin: 100px auto;
}
.slick-slide {
    margin: 0px 20px;
  }

.slick-slide img {
    width: 100%;
  }

.slick-prev:before,
.slick-next:before{
  
    color: black !important;
  }


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
.slick-active {
    opacity: .5;
  }

.slick-current {
  opacity:1;
  }





